{% extends './templates/menu-template.html' %}



{% block header %}
<img src={{photo}} >{{first_name}}&nbsp;{{last_name}}
{% endblock %}

{% block content %}

<div class="col-md-10">
    <div class="block">
        <div class="col-md-3">
            <form class="input-group" method="post" action="/addMan">
                <input type="text" class="form-control" id="id" name="id" placeholder="Введите id или ссылку на страницу">

                        <span class="input-group-btn">
                            <button class="btn btn-default" name="btn" type="submit" >+</button>
                        </span>

            </form>
            <span id="invisible">Введите id или ссылку на страницу</span>
        </div>
        <div class="col-md-3">

            <ul>
                {% for person in persons %}
                <li>{{ person.first_name }}&nbsp;{{ person.last_name }}</li>

                {% endfor %}
            </ul>

        </div>
    </div>
</div>


{% endblock %}