{% extends './templates/menu-template.html' %}


{% block header %}
<img src={{photo}} >{{first_name}}&nbsp;{{last_name}}
{% endblock %}

{% block content %}

<div class="col-md-10">
    <div class="block">
        <div class="col-md-12">
            <div class="row">
                <form class="input-group" method="post" action="/addGroup">
                    <div class="inputs">
                        <input type="text" class="form-control" id="id" name="idGroup" placeholder="Введите id группы/сообщества ">

                        <input type="text" class="form-control" id="city" name="city" placeholder="Введите город">


                        <input type="hidden" name="id" value="{{id}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" name="btn" type="submit" >+</button>
                        </span>
                        <div class="ages">
                            Возраст:
                              от<input type="number" class="" id="from" name="from" placeholder="От" value = '14'>
                             до <input type="number" class="" id="to" name="from" placeholder="До" value = '80'>
                        </div>
                        <div class="checkboxs">
                            Пол:
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name='m' checked>  M
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name='f' checked>  Ж
                                </label>
                            </div>
                        </div>
                        <span id="invisible">Введите id или ссылку на страницу</span>
                        <span id="invisibleToSmallAge">Введите возраст больше 14</span>
                        <span id="invisibleToBigAge">Введите возраст меньше 80</span>
                    </div>

                </form>

                <hr>
            </div>
        </div>
        {% for val in groupsTA %}
        <div class="col-md-3">
            <form action="/giveGroupTA" method="get" target="_blank">
                {{val.groupName}}&nbsp;<br>{{val.usersNum}} пользователей найдено
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="groupId" value="{{val.groupId}}"><br>
                <button type="submit" class="btn btn-default">Скачать</button>
            </form>
            <form action="/deleteGroup" method="get" >
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="groupId" value="{{val.groupId}}">
                <input type="hidden" name="count" value="{{val.usersNum}}">
                <button type="submit" class="btn btn-default">Удалить</button>
            </form>
        </div>
        <div class="col-md-9">
            <canvas class="myChart" width="600" height="400"></canvas>
        </div>
            {% endfor %}
    </div>
</div>
<script src="/static/Chart.min.js"></script>
<script>
    var array = {{array|json|safe}};
    for (var i = 0; i < array.length; i++) {
        var data = {
            labels: ["0", "1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
            datasets: [
                {
                    label: "Пользователи",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: array[i].periods
                }
            ]
        };

        var ctx = document.getElementsByClassName("myChart")[i].getContext("2d");
        var myLineChart = new Chart(ctx).Line(data, {
            bezierCurve: false
        });
    }
    console.log(array[0].periods)
</script>

{% endblock %}