<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../../static/dist/css/main.css" rel="stylesheet">

</head>

<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../static/dist/js/bootstrap.min.js"></script>

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Watcher</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    {% block header %} <img class="photoProfile" src={{photo}}>
                                    {first_name}{{last_name}}{% endblock %}
                                </a>

                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group col-md-12">
                <a href="/smm" class="list-group-item">Группы</a>
                <a href="/downloadTa" class="list-group-item">Загрузить ЦА</a>
                <!--<a href="/users" class="list-group-item">Пользователи</a>-->
                <a href="/exit" class="list-group-item">Выйти</a>
            </div>
        </div>
        {% block content %}

        {% for val in stat %}
        {{ val }}
        {% endfor %}


        {% endblock %}
    </div>



    <script>
        var getId = function(str){
            var id;
            var pos;
            pos = str.indexOf('id') + 1;

            if (pos && !isNaN(str.substring(pos + 1))) {
                return str.substring(pos + 1);
            }

            pos = str.indexOf('vk.com') + 1;

            if (pos) {
                id = str.substring(pos + 6);
                return id;
            }
            return str;
        }
        var button = $('.btn');
        button[0].addEventListener("click", function(event){
            if (!$('#id').val()) {
                button.onclick = null;
                event.preventDefault();
                $('#invisible').css("visibility", "visible");
                $('#id').addClass('err');
                button[0].blur();
            }  if ($('#from').val() < 14) {
                button.onclick = null;
                event.preventDefault();
                $('#invisibleToSmallAge').css("visibility", "visible");
                $('#from').addClass('err');
                button[0].blur();

            }
            if ($('#to').val() > 80){
                button.onclick = null;
                event.preventDefault();
                $('#invisibleToBigAge').css("visibility", "visible");
                $('#to').addClass('err');
                button[0].blur();

            }

        }, false);

        $('#id')[0].addEventListener('focus', function(){
            $('#id').removeClass('err');
        },false)
        $('#invisibleToSmallAge')[0].addEventListener('focus', function(){
            $('#invisibleToSmallAge').removeClass('err');
        },false)
        $('#invisibleToBigAge')[0].addEventListener('focus', function(){
            $('#invisibleToBigAge').removeClass('err');
        },false)
    </script>

</body>
</html>