body {
  width:100%;


  .navbar {
    margin-bottom: 0;
    padding:0;

    img {
      width:45px;
      border-radius: 50%;
      padding: 0 5px;
    }
  }

  .list-group {
    border:0;
    padding:0;
    border-right: 1px solid #e7e7e7;
  }

  .list-group{
    height: 100vh;
    margin-bottom: 0;
    .list-group-item {
      border:0;
      border-bottom: 1px solid #e7e7e7;
      margin:0;
    }
  }


  .block {
    padding:15px;
    #invisible, #invisibleToSmallAge, #invisibleToBigAge {


      visibility: hidden;
      color:rgba(219, 85, 85, 0.9);
      font-size: 12px;
      padding-left:3px;
    }
    .err {
      border: 1px solid rgba(219, 85, 85, 0.7);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(219, 85, 85, 0.6);
    }

    .inputs {
       position: relative;

      .input-group-btn {
        width: 100%;
        display: block;
      }
    }

    .checkboxs{
      display: block;
      margin-left: 10px;
    }
    #city{
      margin-top: 10px;
    }
    .ages{
      margin-top: 60px;
    }

  }
}

